.columns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
  background-color: #eee;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.column:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.active {
  background-color: #0070f3;
  color: #fff;
}

.avatar {
  font-size: 3rem;
  margin-top: 20px;
}
